.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin-top: 4rem;
}

.header {
    width: 46rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header span {
    font-weight: bold;
    display: flex;
}

.header button {
    border-radius: 2rem;
    padding: .1rem .9rem;
    border: none;
    background-color: #333333;
    color: var(--white);
    font-weight: bold;
    margin-left: 1rem;
}

.b{
    color: var(--blue)
}

.p{
    color: var(--purple)
}

.content {
    margin: 1.5rem 0;
    width: 46rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.empty {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-300);
    text-align: center;
}

;.empty svg {
    opacity: .3;
}

.empty p {
    font-weight: 700;
}